<!--首页导航图-->
<div class="homeBanner">
    <img src="/img/home_banner.jpg">
</div>
<hr>
<!--平台可以做什么-->
<div class="">
    <div class="container">
        <div class="col-sm-12 text-center"><h1>平台可以做什么</h1></div>
    </div>
    <div class="container functionIntroduction">
        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>


        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>
        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>
        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>        <div class="col-sm-4 text-center">
        <figure>
            <img src="/img/link.jpg" class="img-rounded" alt="link">
            <p>泛连接</p>
        </figure>
    </div>        <div class="col-sm-4 text-center">
        <figure>
            <img src="/img/link.jpg" class="img-rounded" alt="link">
            <p>泛连接</p>
        </figure>
    </div>



    </div>
    <hr>
</div>
    <!--平台结构-->
    <div class="">
        <div class="container">
            <div class="col-sm-12 text-center"><h1>平台结构</h1></div>
        </div>
        <div class="container functionIntroduction">
            <div class="col-sm-4 text-center">
                <figure>
                    <img src="/img/link.jpg" class="img-rounded" alt="link">
                    <p>泛连接</p>
                </figure>
            </div>


            <div class="col-sm-4 text-center">
                <figure>
                    <img src="/img/link.jpg" class="img-rounded" alt="link">
                    <p>泛连接</p>
                </figure>
            </div>
            <div class="col-sm-4 text-center">
                <figure>
                    <img src="/img/link.jpg" class="img-rounded" alt="link">
                    <p>泛连接</p>
                </figure>
            </div>
            <div class="col-sm-4 text-center">
                <figure>
                    <img src="/img/link.jpg" class="img-rounded" alt="link">
                    <p>泛连接</p>
                </figure>
            </div>        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>



        </div>
        <hr>

</div>




<!--平台使用操作-->
<div class="">
    <div class="container">
        <div class="col-sm-12 text-center"><h1>平台使用操作</h1></div>
    </div>
    <div class="container functionIntroduction">
        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>


        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>
        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>
        <div class="col-sm-4 text-center">
            <figure>
                <img src="/img/link.jpg" class="img-rounded" alt="link">
                <p>泛连接</p>
            </figure>
        </div>        <div class="col-sm-4 text-center">
        <figure>
            <img src="/img/link.jpg" class="img-rounded" alt="link">
            <p>泛连接</p>
        </figure>
    </div>        <div class="col-sm-4 text-center">
        <figure>
            <img src="/img/link.jpg" class="img-rounded" alt="link">
            <p>泛连接</p>
        </figure>
    </div>



    </div>
    <hr/>

</div>